PORT=3000
LOG_LEVEL=info

AUTH_TOKEN=test
BACKOFFICE_AUTH_TOKEN=test

# MongoDB
MONGO_URI=mongodb+srv://cityatoms:Rmg51ETO60owj9Fe@cluster0-0drhc.mongodb.net/test?retryWrites=true&w=majority
JWT_SECRET=cityatoms